.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__cloumn:first-child {
  margin-right: auto;
}

.alt-header__cloumn:last-child {
  margin-left: auto;
}
