.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
  color: inherit;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__etc {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40px;
  bottom: 30px;
}
